<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">...:: Tracking Drivers ::... </a>
</nav>
<div class="row pad-10 mr-0 ml-1">
  <div class="col-8">
    <h3>Map <small class="float-right" *ngIf="taxiDriverFollowed">Following: {{ taxiDriverFollowed.name }}</small> </h3>
    <main>
      <div id="ol-map" class="map-container"></div>
    </main>
  </div>
  <div class="col-4">
    <h3>Drivers</h3>
    <div class="list-group">
      <a href="#" (click)="startFollow( item )" *ngFor="let item of taxiDrivers"
        class="list-group-item list-group-item-action">
        {{ item.name }}
      </a>
      <br>
      <button *ngIf="taxiDriverFollowed" (click)="stopFollow()" class="btn btn-primary btn-block">
        Stop Tracking
      </button>
    </div>
  </div>
</div>