:host {
    display: flex;
    flex-direction: column;
    // height: calc(100vh - 56px);
    height: 100vh;
}

header {
    background-color: var(--header-color);
    padding: 2em;
}

header .title {
    font-size: 28px;
}

main {
    display: flex;
    flex-grow: 1;
}

.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}

.map-container {
    flex-grow: 1;
    height: calc(100vh - 110px);
}

footer {
    background-color: var(--header-color);
    padding: 1em;
}

